.cart-modal {
    background-color: hsl(209, 58%, 53%);
    padding: 20px;
    border-radius: 8px;
    height: auto;
    width: auto; /* Adjust width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-modal-text {
    margin-bottom: 10px;
}

.cart-content {
    display: flex;
    align-items: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-image {
    width: 80px; /* Adjust image width as needed */
    height: 80px; /* Adjust image height as needed */
    object-fit: cover; /* Ensure the image covers the space */
    margin-right: 20px; /* Space between image and details */
}

.cart-item-details {
    text-align: left; /* Align text to the left */
}

.cart-image {
    width: auto; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
}

.cart-description {
    text-align: left; /* Align text to the left */
}
